/* src/components/ToolPanel.css */
.toolPanel {
  display: flex;
  flex-direction: column;
}

.toolButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  color: #666;
  margin-bottom: 10px;
}

.toolButton.active {
  background-color: #cccccc;
}
